// === MIXIN ===
@mixin roboto {
	font-family: "Roboto", sans-serif;
}

@mixin quicksand {
	font-family: "Quicksand", sans-serif;
}

@mixin opensans {
	font-family: "Open Sans", sans-serif;
}

// === / MIXIN ===
