.section__features {
	background: url("../../img/clouds.svg") no-repeat 50% 50%;
}

.features__title {
	font-weight: $fw-medium;
}

.features__list {
	display: flex;
	text-align: center;
	margin-bottom: $base * 26;
}

.features__item {
	position: relative;
	flex-basis: 25%;

	&:not(:first-child) {
		margin-left: $base * 10;
	}

	&:not(:first-child)::before {
		content: "";
		position: absolute;
		width: $base * 7;
		height: 1px;
		left: -34px;
		top: 120px;
		background-color: #dae4fe;
	}
}

.features__item-icon {
	display: flex;
	justify-content: center;
	align-items: center;

	width: $base * 17;
	height: $base * 17;

	border-radius: 100%;
	background-color: #f1f5ff;

	margin: 0 auto $base * 8;
}

.features__item-title {
	@include opensans;
	font-weight: $fw-sm-bold;
	font-size: $fs-md;
	text-align: center;
	color: #4074f8;
	margin-bottom: $base * 7;
}

.features__item-text {
	@include opensans;
	font-size: $fs-sm;
	line-height: 2;
	text-align: center;
}

.features__btns {
	display: flex;
	justify-content: center;
	text-align: center;
}

.features__or-block {
	display: inline-flex;
	align-items: center;
	@include opensans;
	font-weight: $fw-sm-bold;
	font-size: $fs-sm;
	margin: 0 $base * 4;

	&::before,
	&::after {
		content: "";
		display: block;
		width: $base * 4;
		height: 1px;
		background-color: #dae4fe;
	}

	&::before {
		margin-right: $base * 4;
	}

	&::after {
		margin-left: $base * 4;
	}
}

.features__btn--danger {
	@include quicksand;
	font-weight: $fw-bold;
	background-color: #ffd7d7;
	color: #d43f3f;

	&:hover {
		background-color: darken(#ffd7d7, 10%);
		color: darken(#d43f3f, 10%);
	}
}

.features__btn--primary {
	color: #3a79ff;
	background-color: #d2e1ff;
	&:hover {
		color: darken(#3a79ff, 10%);
		background-color: darken(#d2e1ff, 10%);
	}
}
