.section__quotes {
	background: linear-gradient(180deg, #eaf0ff 0%, #f6f9ff 100%);
}

.quotes__title {
	margin-top: $base * 8;
	font-weight: $fw-medium;
}

.quotes__subtitle {
	margin-bottom: 0;
}

.quotes__wrapper {
	display: flex;
	justify-content: space-between;
}

.quotes__info,
.quotes-slider__wrapper {
	flex-basis: 45%;
}

.quotes__info {
	// margin-right: $base * 26;
}

.quotes__text {
	@include opensans;
	font-weight: $fw-bold;
	font-size: $fs-sm;
	line-height: 2;
}

.quotes-slider {
	margin-bottom: $base * 19;
	box-shadow: 0px 5px 50px #f3f5fa;
}

.quotes-slider__item {
	background-color: #fff;
	border: 1px solid #d8e3fe;
	padding: $base * 10 $base * 17 $base * 15;

	position: relative;
}

.quotes-slider__photo {
	$height: $base * 16;

	content: "";
	position: absolute;
	width: $base * 16;
	height: $height;
	border-radius: 100%;
	background: #fff;
	overflow: hidden;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	margin-top: -$height/2;
}

.quotes-slider__text {
	font-weight: $fw-regular;
	font-size: $fs-md;
	line-height: 2;
}
